.done{
    font-size: 3em;
    font-weight: bold;
    margin-top: 2em;
padding-bottom: 1em;
    text-align: center;

}
.score-title{
    font-size: xx-large;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
.score{
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
    text-align: center;
}